<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  My email is abasszakari26@gmail.com. Email me with your questions and comments and I will be sure to reply.
  You can also contact me on my personal phone number: 0245900927
</p>